<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lab.thelab.mapper.EquipMapper">

    <select id="queryEquipList" resultType="Equip">
             select * from equip
    </select>

    <select id="queryEquipById" resultType="Equip">
        select * from equip where eid = #{eid}
    </select>
    <insert id="addEquip" parameterType="Equip">
        insert into equip (eid,ename,equiprequire,equipnum,apply,applicant)
        values (#{eid},#{ename},#{equiprequire},#{equipnum},#{apply},#{applicant})
    </insert>
    <update id="updateEquip" parameterType="Equip">
        update equip set enum=#{enum} where eid = #{eid}
    </update>
    <delete id="deleteEquip" parameterType="String">
        delete from equip where eid =#{eid}
    </delete>


</mapper>